---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*'
WarningsAsErrors: '*,-hicpp-explicit-conversions,-misc-non-private-*'
HeaderFilterRegex: ''
FormatStyle:     none


